<section id="desktopTablet">
  <tabset [tabHeader]="tabSet">
    <tab [tabInfo]="tab" *ngFor="let tab of tabSet">
      <div class="tab-materials" *ngIf="tab.materials">
        <ul>
          <li>
            {{tab.materials.cashmere}}<br />cashmere
          </li>
          <li>
            {{tab.materials.wool}}<br />wool
          </li>
          <li>
            {{tab.materials.modal}}<br />modal
          </li>
        </ul>
      </div>
      <div>
        <p>{{tab.content}}</p>
      </div>
    </tab>
  </tabset>
</section>
