<section id="desktopTablet">
  <tabset [tabHeader]="tabSet">
    <tab [tabInfo]="tab" *ngFor="let tab of tabSet">
      <div class="tab-materials" *ngIf="tab.materials">
        <ul>
          <li>
            <span>{{tab.materials.cashmere}}%</span><br />cashmere
          </li>
          <li>
            <span>{{tab.materials.wool}}%</span><br />wool
          </li>
          <li>
            <span>{{tab.materials.modal}}%</span><br />modal
          </li>
          <div class="lineUnder"></div>
        </ul>
      </div>
      <div class="tab-paragraph">
        <p>{{tab.content}}</p>
      </div>
    </tab>
  </tabset>
</section>

<section id="mobileAccordion">
  <accordion [accordionTabs]="tab" *ngFor="let tab of tabSet"></accordion>
</section>
